#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: black;
}

.small-containers-group,
.big-containers-group-one,
.big-containers-group-two {
  display: flex;
}
